{% extends 'store/base.html' %}
{% load static %}
{% load custom_filter %} 

{% block content %}
	
	<body>
		<!-- HEADER -->
	
		<!-- /HEADER -->

		<!-- NAVIGATION -->
	
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<form method="POST" class="billing-details">
							{% csrf_token %}
							{{form.as_p}}

						<button  type = "submit"class="primary-btn order-submit">Place order <button>
						</form>
						
						
						<!-- /Billing Details -->

						

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								{%for item in order.orderitem_set.all%}
								<div class="order-col">
									<div>x{{item.quantity}} {{item.product}}</div>
									<div>{{item.get_total|dinarFormat}}</div>
								</div>
								{% endfor %}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">{{order.get_cart_total|dinarFormat}}</strong></div>
							</div>
						</div>
						
						

						
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


	</body>
{% endblock %}