{% extends 'user/base.html' %}

{% block content %}



	<body>
		<!-- HEADER -->
	
		<!-- /HEADER -->

		<!-- NAVIGATION -->
	
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Register</h3>
						
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<form method="POST" class="billing-details">
							<div class="section-title">
								<h3 class="title">REGISTER</h3>
							</div>
							{% csrf_token %}
        					{% if err_msg %}
          					<p class="text-danger">{{ err_msg }}</p>  <!-- Display the error message -->
        					{% endif %}
							<div class="form-group">
								<input class="input" type="text" name="{form.username.name}" placeholder="Username" id={form.username.id_for_label}>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="{form.email.name}" placeholder="Email" id={form.email.id_for_label}>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="{form.password1.name}" placeholder="Password" id={form.password1.id_for_label}>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="{form.password2.name}" placeholder="Confirm Password" id={form.password2.id_for_label}>
							</div>
							


							<button type="submit" class="primary-btn order-submit">Register</button>
							
							<p class="mb-0">already have an account? <a href="{% url 'login'%}">Login</a></p>

							
							
						</form>
						<!-- /Billing Details -->

						

					</div>

				
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


	</body>


{%endblock%}